<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Tasks</h1>

    {% if tasks is not empty %}
        <p>Here are all your tasks:</p>
        <ul>
            {% for task in tasks %}
            if
            <form action="/status" method="post">
                <li><a href="/tasks/{{ task.getId }}">{{ task.getDescription }}</a><input type="checkbox" name="checkbox[]" value="{{task.getId}}"><input type="hidden" name="status_description" value="{{task.getDescription}}"></li><br>
                {% endfor %}

                <button type="submit">Mark as completed</button>
            </form>
        </ul>
    {% endif %}

    <form action='/tasks' method='post'>
        <label for='description'>Task description:</label>
        <input id='description' name='description' type='text'>

        <button type='submit'>Add task</button>
    </form>
    {% if tasks is not empty %}
        <p>Here are all your complete tasks:</p>
        <ul>
            {% for task in tasks %}
                {% if task.getStatus == 1 %}
                    <li>{{ task.getDescription}}</li>
                    {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/delete_tasks' method='post'>
        <button type='submit'>Clear</button>
    </form>


    <p><a href='/'>Home</a></p>
</body>
</html>
